# compiled output
/dist
/tmp
/out-tsc
/logs/

# dependencies
/node_modules

# IDEs and editors
.idea
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.vscode/*

# OS metadata
.DS_Store
Thumbs.db

# misc
/coverage
npm-debug.log

# Logs
logs
*.log
npm-debug.log*

#amplify
build/
dist/
node_modules/


# Others
**/package-lock.json
package-lock.json
.temp
report.*.json
